.container {
  position: relative;
  margin: 0 auto;
  max-width: $max-width;
  min-width: $min-width;

  &--submit {
    @media (max-width: $tablet-width-only) {
      max-width: 321px;
    }

    @media (max-width: $mobile-width-only) {
      max-width: 288px;
      min-width: 288px;
    }
  }

  &--video {
    max-width: 340px;

    @media (max-width: $tablet-width-only) {
      max-width: 429px;
    }

    @media (max-width: $mobile-width-only) {
      width: 288px;
      // max-width: none;
      min-width: 288px;
    }
  }
}
